### Name: Atharv S Nikam
### Roll NO: PA-10
### Division: A

#### Installing required packages

In [1]:
#pip install graphviz

In [2]:
#pip install pydotplus

### importing required libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

### importing the dataset

In [4]:
dataset = pd.read_csv("dt.csv")
dataset.head()

     age  income Student credit_rating buy_comp
0    <30    high      no          fair       no
1    <30    high      no     excellent       no
2  30-40    high      no          fair      yes
3    >40  medium      no          fair      yes
4    >40     low     yes          fair      yes

### Decision tree classifier for prediction

In [5]:
X = dataset.iloc[:,:-1] #feature
feature_cols = ['age', 'income', 'student', 'credit_rating']

Y = dataset.iloc[:,4].values  #classlabels

labelencoder_X = LabelEncoder()
X = X.apply(LabelEncoder().fit_transform)

regressor = DecisionTreeClassifier(criterion = 'gini', max_depth = 5, splitter = 'best')
X

    age  income  Student  credit_rating
0     1       0        0              1
1     1       0        0              0
2     0       0        0              1
3     2       2        0              1
4     2       1        1              1
5     2       1        1              0
6     0       1        1              0
7     1       2        0              1
8     1       1        1              1
9     2       2        1              1
10    1       2        1              0
11    0       2        0              0
12    0       0        1              1
13    2       2        0              0

In [6]:
#training
regressor.fit(X, Y)

#test
X_in = np.array([1,1,0,0])    #age: 30-40, income- low, student- no, credit_rating- excellent
y_pred = regressor.predict([X_in])

print("Prediction: ", y_pred)

Prediction:  ['no']

### For visualization of decision tree

In [100]:
# from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus
from six import StringIO

In [101]:
#to use the executable files of graphviz
#to minimize the error: "executable files of Graphviz are not found"
#source: "https://stackoverflow.com/questions/28312534/graphvizs-executables-are-not-found-python-3-4#:~:text=Under%20System%20Variables%20I%20clicked,again%2C%20but%20still%20no%20success."
import os
os.environ["PATH"] += os.pathsep + 'C:\Program Files\Graphviz/bin/'

In [14]:
dot_data = StringIO()

export_graphviz(regressor, out_file=dot_data, filled = True, rounded=True,
               special_characters = True, feature_names = feature_cols,
               class_names = ['0', '1'])

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('tree.png')

True

## pima-indians-diabetes dataset

### importing dataset

In [87]:
df = pd.read_csv("pima-indians-diabetes.csv")

In [88]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

### Splitting data into train and test sets

In [90]:
X = df[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']].values
y = df['Outcome'].values

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Training and testing

In [96]:
classifier = DecisionTreeClassifier(criterion = 'gini', max_depth = 10, splitter = 'best')

In [97]:
#training
classifier = classifier.fit(X_train, y_train)

In [98]:
#testing
y_pred = classifier.predict(X_test)

In [99]:
acc = metrics.accuracy_score(y_test, y_pred)
print("Accuracy: ", acc)

Accuracy:  0.8116883116883117

### Visualization of decision tree

In [103]:
feature_cols2 = ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']

In [104]:
dot_data = StringIO()

export_graphviz(classifier, out_file = dot_data, filled = True, rounded=True,
               special_characters = True, feature_names = feature_cols2,
               class_names = ['0', '1'])

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('dec_tree2.png')

True

## Regression using decision tree

In [27]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_squared_error

In [28]:
data = pd.read_csv("linear data.csv")

In [29]:
data.head()

   hours_driving  risk
0             10    95
1              9    80
2              2    10
3             15    50
4             10    45

In [30]:
x = data.iloc[:, :-1].values    #feature
y = data.iloc[:, -1].values    #target

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.5, random_state = 0)

In [32]:
drm = DecisionTreeRegressor()

In [33]:
drm.fit(x_train, y_train)

DecisionTreeRegressor()

In [34]:
y_pred = drm.predict(x)

In [35]:
y_pred

array([70., 70., 70., 50., 70., 98., 70., 98.])

In [36]:
mse = mean_squared_error(y, y_pred)
mse

749.875

In [37]:
rmse = np.sqrt(mse)
rmse

27.383845602836722