In [ ]:
!pip install pyfpgrowth

Requirement already satisfied: pyfpgrowth in /usr/local/lib/python3.6/dist-packages (1.0)

In [ ]:
import pandas as pd
import numpy as np
import pyfpgrowth as fp
import seaborn as sns

In [ ]:
df = pd.read_csv('./groceries.csv')

In [ ]:
df.head()

   Item(s)            Item 1               Item 2  ... Item 30 Item 31 Item 32
0        4      citrus fruit  semi-finished bread  ...     NaN     NaN     NaN
1        3    tropical fruit               yogurt  ...     NaN     NaN     NaN
2        1        whole milk                  NaN  ...     NaN     NaN     NaN
3        4         pip fruit               yogurt  ...     NaN     NaN     NaN
4        4  other vegetables           whole milk  ...     NaN     NaN     NaN

[5 rows x 33 columns]

In [ ]:
df = df.drop('Item(s)', axis = 1)
df.head()

             Item 1               Item 2  ... Item 31 Item 32
0      citrus fruit  semi-finished bread  ...     NaN     NaN
1    tropical fruit               yogurt  ...     NaN     NaN
2        whole milk                  NaN  ...     NaN     NaN
3         pip fruit               yogurt  ...     NaN     NaN
4  other vegetables           whole milk  ...     NaN     NaN

[5 rows x 32 columns]

In [ ]:
#converting dataframe into nested list and excluding tha nan values
data_list = []
for i in df.values.tolist():
  inner_list = []
  for j in i:
    if j is not np.nan:
      inner_list.append(j)
  data_list.append(inner_list)

In [ ]:
#ENTER THE SUPPORT VALUE IN PERCENTAGE
prcnt = int(input('Enetr the Support Value'))
prcnt = len(data_list) * (prcnt/100)
prcnt

Enetr the Support Value3

295.05

In [ ]:
patterns = fp.find_frequent_patterns(data_list, prcnt)

In [ ]:
association_rules = fp.generate_association_rules(patterns, 0.1)

In [ ]:
association_rules

{('bottled water',): (('whole milk',), 0.3109475620975161),
 ('citrus fruit',): (('whole milk',), 0.36855036855036855),
 ('other vegetables',): (('whole milk',), 0.38675775091960063),
 ('pastry',): (('whole milk',), 0.3737142857142857),
 ('pip fruit',): (('whole milk',), 0.3978494623655914),
 ('sausage',): (('rolls/buns',), 0.32575757575757575),
 ('whipped/sour cream',): (('whole milk',), 0.44964539007092197),
 ('whole milk',): (('other vegetables',), 0.29287703939514526)}

In [ ]:
import pandas as pd

df = pd.DataFrame.from_dict(association_rules, orient='index', columns=["Product 2","Probablity"])

In [ ]:
df

                                 Product 2  Probablity
(whipped/sour cream,)        (whole milk,)    0.449645
(whole milk,)          (other vegetables,)    0.292877
(pip fruit,)                 (whole milk,)    0.397849
(citrus fruit,)              (whole milk,)    0.368550
(pastry,)                    (whole milk,)    0.373714
(sausage,)                   (rolls/buns,)    0.325758
(other vegetables,)          (whole milk,)    0.386758
(bottled water,)             (whole milk,)    0.310948

In [ ]:
dataset2 = pd.read_csv('./market_basket_optimisation.csv')

In [ ]:
dataset2.head()

           shrimp    almonds     avocado  ... frozen smoothie spinach olive oil
0         burgers  meatballs        eggs  ...             NaN     NaN       NaN
1         chutney        NaN         NaN  ...             NaN     NaN       NaN
2          turkey    avocado         NaN  ...             NaN     NaN       NaN
3   mineral water       milk  energy bar  ...             NaN     NaN       NaN
4  low fat yogurt        NaN         NaN  ...             NaN     NaN       NaN

[5 rows x 20 columns]

In [ ]:
#converting dataframe into nested list and excluding tha nan values
data_list2 = []
for i in dataset2.values.tolist():
  inner_list = []
  for j in i:
    if j is not np.nan:
      inner_list.append(j)
  data_list2.append(inner_list)

In [ ]:
patterns_2 = fp.find_frequent_patterns(data_list2, 200)

In [ ]:
patterns_2

In [ ]:
association_rules_2 = fp.generate_association_rules(patterns_2, 0.25)

In [ ]:
association_rules_2

{('burgers',): (('eggs',), 0.3302752293577982),
 ('cake',): (('mineral water',), 0.33881578947368424),
 ('eggs',): (('mineral water',), 0.28338278931750743),
 ('mineral water',): (('spaghetti',), 0.2506994963626189),
 ('olive oil',): (('mineral water',), 0.4178498985801217),
 ('pancakes',): (('mineral water',), 0.3548387096774194)}

In [ ]:
df2 = pd.DataFrame.from_dict(association_rules_2, orient='index', columns=["Product 2","Probablity"])

In [ ]:
df2

                         Product 2  Probablity
(olive oil,)      (mineral water,)    0.417850
(cake,)           (mineral water,)    0.338816
(burgers,)                 (eggs,)    0.330275
(pancakes,)       (mineral water,)    0.354839
(mineral water,)      (spaghetti,)    0.250699
(eggs,)           (mineral water,)    0.283383