In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data1 = {'X':['2','4','4','4','6','6',],
        'Y':['4','6','4','3','4','3',],
        'Class':['N','N','P','N','N','P',]}

ds1 = pd.DataFrame.from_dict(data1)
ds1

   X  Y Class
0  2  4     N
1  4  6     N
2  4  4     P
3  4  3     N
4  6  4     N
5  6  3     P

In [ ]:
x1 = x = ds1.iloc[:, :-1].values
y1 = ds1.iloc[:, 2:3].values 
print(x1)

[['2' '4']
 ['4' '6']
 ['4' '4']
 ['4' '3']
 ['6' '4']
 ['6' '3']]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

classifier1 = KNeighborsClassifier(n_neighbors = 3)
classifier1.fit(x1, y1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
y_pred_class = classifier1.predict([[6,6]])
print('The predicted class of (6,6) : ',y_pred_class)

The predicted class of (6,6) :  ['N']

In [ ]:
data2 = {'Height':['5','5.11','5.6','5.9','4.8','5.8','5.3','5.8','5.5','5.6'],
        'Age':['45','26','30','34','40','36','19','28','23','32'],
        'Weight':['77','47','55','59','72','60','40','60','45','58']}

ds2 = pd.DataFrame.from_dict(data2)
ds2

  Height Age Weight
0      5  45     77
1   5.11  26     47
2    5.6  30     55
3    5.9  34     59
4    4.8  40     72
5    5.8  36     60
6    5.3  19     40
7    5.8  28     60
8    5.5  23     45
9    5.6  32     58

In [ ]:
x2 = x = ds2.iloc[:, :-1].values
y2 = ds2.iloc[:, 2:3].values 
print(x2)

[['5' '45']
 ['5.11' '26']
 ['5.6' '30']
 ['5.9' '34']
 ['4.8' '40']
 ['5.8' '36']
 ['5.3' '19']
 ['5.8' '28']
 ['5.5' '23']
 ['5.6' '32']]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

classifier_3 = KNeighborsClassifier(n_neighbors = 3)
classifier_3.fit(x2, y2)

classifier_4 = KNeighborsClassifier(n_neighbors = 4)
classifier_4.fit(x2, y2)

classifier_5 = KNeighborsClassifier(n_neighbors = 5)
classifier_5.fit(x2, y2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  # Remove the CWD from sys.path while we load stuff.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
y_pred_3 = classifier_3.predict([[5.50,26]])
print('The predicted Weight of (5.50,26) : ',y_pred_3)

The predicted Weight of (5.50,26) :  ['45']

In [ ]:
y_pred_4 = classifier_4.predict([[5.50,26]])
print('The predicted Weight of (5.50,26) : ',y_pred_4)

The predicted Weight of (5.50,26) :  ['45']

In [ ]:
y_pred_5 = classifier_5.predict([[5.50,26]])
print('The predicted Weight of (5.50,26) : ',y_pred_5)

The predicted Weight of (5.50,26) :  ['45']